body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:0px;
  width:1368px;
  height:1211px;
}
#u2991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1368px;
  height:1211px;
}
#u2991_ref {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:1201px;
  width:1px;
  height:1px;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:0px;
  width:1366px;
  height:1740px;
}
#u2992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1740px;
}
#u2992_ref {
  border-width:0px;
  position:absolute;
  left:2917px;
  top:1730px;
  width:1px;
  height:1px;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1872px;
  width:1366px;
  height:1508px;
}
#u2993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1508px;
}
#u2993_ref {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:3370px;
  width:1px;
  height:1px;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:1872px;
  width:1366px;
  height:1344px;
}
#u2994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1344px;
}
#u2994_ref {
  border-width:0px;
  position:absolute;
  left:2917px;
  top:3206px;
  width:1px;
  height:1px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:2997px;
  top:1872px;
  width:1366px;
  height:1592px;
}
#u2995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1592px;
}
#u2995_ref {
  border-width:0px;
  position:absolute;
  left:4355px;
  top:3454px;
  width:1px;
  height:1px;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:3680px;
  width:1368px;
  height:2153px;
}
#u2996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1368px;
  height:2153px;
}
#u2996_ref {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:5823px;
  width:1px;
  height:1px;
}
