body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:0px;
  width:1368px;
  height:1211px;
}
#u3849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1368px;
  height:1211px;
}
#u3849_ref {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:1201px;
  width:1px;
  height:1px;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:0px;
  width:1366px;
  height:1740px;
}
#u3850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1740px;
}
#u3850_ref {
  border-width:0px;
  position:absolute;
  left:2917px;
  top:1730px;
  width:1px;
  height:1px;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1872px;
  width:1366px;
  height:1508px;
}
#u3851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1508px;
}
#u3851_ref {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:3370px;
  width:1px;
  height:1px;
}
#u3852 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:1872px;
  width:1366px;
  height:1344px;
}
#u3852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1344px;
}
#u3852_ref {
  border-width:0px;
  position:absolute;
  left:2917px;
  top:3206px;
  width:1px;
  height:1px;
}
#u3853 {
  border-width:0px;
  position:absolute;
  left:2997px;
  top:1872px;
  width:1366px;
  height:1592px;
}
#u3853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1592px;
}
#u3853_ref {
  border-width:0px;
  position:absolute;
  left:4355px;
  top:3454px;
  width:1px;
  height:1px;
}
#u3854 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:3680px;
  width:1368px;
  height:2153px;
}
#u3854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1368px;
  height:2153px;
}
#u3854_ref {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:5823px;
  width:1px;
  height:1px;
}
