body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3845 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:100px;
  width:1366px;
  height:2084px;
}
#u3845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:2084px;
}
#u3845_ref {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:2174px;
  width:1px;
  height:1px;
}
#u3846 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:100px;
  width:1366px;
  height:1034px;
}
#u3846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1034px;
}
#u3846_ref {
  border-width:0px;
  position:absolute;
  left:2822px;
  top:1124px;
  width:1px;
  height:1px;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:2876px;
  top:100px;
  width:1366px;
  height:1443px;
}
#u3847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1443px;
}
#u3847_ref {
  border-width:0px;
  position:absolute;
  left:4234px;
  top:1533px;
  width:1px;
  height:1px;
}
