body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5136 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:103px;
  width:1366px;
  height:1058px;
}
#u5136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1058px;
}
#u5136_ref {
  border-width:0px;
  position:absolute;
  left:1376px;
  top:1151px;
  width:1px;
  height:1px;
}
#u5137 {
  border-width:0px;
  position:absolute;
  left:1489px;
  top:103px;
  width:1366px;
  height:1297px;
}
#u5137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1297px;
}
#u5137_ref {
  border-width:0px;
  position:absolute;
  left:2847px;
  top:1390px;
  width:1px;
  height:1px;
}
#u5138 {
  border-width:0px;
  position:absolute;
  left:2929px;
  top:103px;
  width:1366px;
  height:1297px;
}
#u5138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1297px;
}
#u5138_ref {
  border-width:0px;
  position:absolute;
  left:4287px;
  top:1390px;
  width:1px;
  height:1px;
}
